<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940750416992-0j6fch2gursj6a2cmam6q7hcrlbqpq7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940750416992-0j6fch2gursj6a2cmam6q7hcrlbqpq7t</string>
	<key>API_KEY</key>
	<string>AIzaSyAsdHR7yqg4UoalROW2oDQT3_iEnYEkYRU</string>
	<key>GCM_SENDER_ID</key>
	<string>940750416992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditontonapp-2fd84</string>
	<key>STORAGE_BUCKET</key>
	<string>ditontonapp-2fd84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940750416992:ios:7bc04fa2a354ccb3a2a705</string>
</dict>
</plist>